<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>10 Tracks</title>
</head>
<body>
<h1>Top 10 Tracks</h1>
<p>
This is where tracks should display
</p>
 <table>
 <tr>
 <th> Links </th>
 </tr>
 <% @links.each_with_index do |link,idx| %>
 <tr>
 <td> <object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/<%=h link.slice(31,11) %>&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/<%=h link.slice(31,11) %>&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object></td>
 <td><a href="http://www.youtube.com/v/<%=h link.slice(31,11) %>&hl=en_US&fs=1&"> <%= "#{idx+1} \n" %> </a></td>
 </tr>
    <% end %>
   </table>
